*
{
  
    margin:0px;
    padding:0px;
   
}
#new-home
{
    background-image: url('newhomebg.jpg');
    width:99vw;
    height:105vh;
    
}
.homeflex
{
    display:flex;
}
#img1
{
    position:relative;
    top:1vh;
    left:10vw;
    width:20vw;
    height:30vh;
}
#img2
{
    position:relative;
    top:25vh;
    left:-16vw;
    width:13vw;
    height:25vh;
}
#img3
{
    position:relative; 
    top:-1vh;
    left:13vw;
    width:20vw;
    height:30vh;
}

#img4
{
    position: relative;
    top:4vh;
    left:27vw;
    width:15vw;
    height:35vh;
}
#img5
{
    position: relative;
    top:32vh;
    left:27vw;
    width:15vw;
    height:35vh;
}
#img6
{
    position: relative;
    top:60vh;
    left:-3.8vw;
    width:15vw;
    height:35vh;
}
.bake
{
    position: relative;
    top:34vh;
    left:10vw;
    width:5vw;
    height: 5vh;
   font-size: xx-large;
}
#al
{
    width: 145px;
    height: 51px;
    padding-left: 52px;
}
.circle
{
  width:200px;
  height:200px;
  background: linear-gradient(rgb(245, 84, 73),rgb(250, 202, 194));
  border-radius: 50%;
  text-align: center;
  box-shadow: inset -8px -7px 4px 0px rgba(0,0,0,0.3);
  position:relative;
  left:15vw;
  top:-10vh;

}
.align
{
  padding-top:55px;
  color: rgb(0, 0, 0);
  font-family: cursive;
}

#navbar
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20px;
}
.foodq
{
    width:200px;
    height:200px;
    position:relative;
    left:43vw;
    top:-24vh;
}
.neonText {
    color: rgb(0, 0, 0) !important;
    font-family: cursive;
    text-shadow:
      0 0 7px rgb(250, 189, 154),
      0 0 10px rgb(255, 172, 133),
      0 0 21px rgb(255, 172, 133),
      0 0 42px rgb(255, 172, 133),
      0 0 82px rgb(242, 175, 137),
      0 0 92px rgba(248, 165, 126, 0.881),
      0 0 102px rgb(241, 189, 116),
      0 0 151px rgb(237, 177, 140) !important;
  }
#logo
{
    margin:0px;
    padding:5px;
}
#logo img{
    width:80px;
    height:60px;
    object-fit: contain;
    position:fixed;
    top:20px;
    left: 20px;
 
}
#navbar::before
{
    top:0px;
    content: "";
    width:100%;
    height: 93%;
    position:absolute;
     z-index: -1;
    
}
#navbar ul
{
    display:flex;
    font-family: cursive;
    
}
#navbar ul li{
   list-style: none;
   font-size: 1.1rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding:5px;
    margin:5px;
    text-decoration: none;
    border-radius: 8px;
}
#navbar ul li a:hover
{
    background-color: rgb(175, 177, 48);
    color:rgb(46, 132, 236);
}
.homepg
{
    
    display: flex;
    flex-direction: column;
    padding:0px 250px;
    margin:0px;
    align-items: center;
    justify-content: center;
    height: 475px;
    color:white;
    position: relative;
    top:13vh;
}
#home{
    margin-top:0px;
    content:"";
    background-size:cover;
    background-repeat: no-repeat;
    width:100%;
    height: 100vh;
    z-index: -1;
    opacity:0.8;
    transition: 2s ease;
    
}
.homepg h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.homepg p
{
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.h-primary
{
    font-size: 2.8rem;
    padding:12px;
}
.btn
{
    padding:8px 16px;
    border: 1px solid black;
    background-color: #FFC300;
    margin:5px;
    color: black;
    border-radius: 9px;
    cursor: pointer;
    font-weight: 600;
}
.btn:hover
{
    background-color: white;
}
#services
{
    margin:34px;
    display: flex;
}
#services > .box
{
    border:2px solid black;
    margin:5px;
    padding:5px;
    background: cadetblue;
    border-radius: 15px;
}
#services > .box img
{
    width:60px;
    height: 60px;
    margin:auto;
    display:block;
    border-radius: 15px;
}
.center
{
    text-align: center;
}
#client-section::before
{
    content:"";
    position:absolute;
    background-image:url('bg2.jpg');
    background-size: contain;
    width:100%;
    height:44%;
    z-index: -1;
    opacity:0.3;
}
#clients
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#clients > .clients-items img
{
    height:100px;
    width:100px;
}
.clients-items
{
    padding :34px;
}

#contact
{
    content:"";
    background-image:url('bk-1.jpg');
    width:100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
 
}

#contact-box
{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer
{
    color: white;
    background: black;
    padding: 3px;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:3px;
}
#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1rem;
} 
#contact-box form{
width:35%;
}
#contact-box label{
    font-size: 1.1rem;
}
#contain
{
    display: flex;
    align-items: center;
    justify-content: center;
}
img
{
    width: 250px;
    height: 220px;
    border-radius: 10px;
}
.contain-items
{
    padding: 6px;
    margin: 6px;
}
#container
{
    
    content:"";
    background-color: black;
    width:100%;
    height: 100%;
    z-index: -1;
    opacity: 0.9;
    display: flex;
    
    

}

.image
{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:20px;
    margin:20px;
}
.food-image
{
    padding: 10px;
    margin: 10px;
}
#txt1
{
    position: absolute;
    top: 73%;
    left: 25%;
    color: rgb(250, 245, 245);
    font-size: larger;
}
#txt2
{
    position: absolute;
    top: 73%;
    left: 48%;
    color: rgb(0, 0, 0);
    font-size: larger;

}
#txt3
{
    position: absolute;
    top: 73%;
    left: 72%;
    color: rgb(255, 255, 255);
    font-size: larger;

}
#txt4
{
    position: absolute;
    top: 73%;
    left: 25%;
    color: rgb(250, 245, 245);
    font-size: larger;

}
#txt5
{
    position: absolute;
    top: 73%;
    left: 48%;
    color: rgb(14, 13, 13);
    font-size: larger;

}
#txt6
{
    position: absolute;
    top: 73%;
    left: 72%;
    color: rgb(250, 245, 245);
    font-size: larger;

}
#txt7
{
    position: absolute;
    top: 73%;
    left: 25%;
    color: rgb(250, 245, 245);
    font-size: larger;

}
#txt8
{
    position: absolute;
    top: 73%;
    left: 48%;
    color: rgb(248, 247, 247);
    font-size: larger;

}
#txt9
{
    position: absolute;
    top: 73%;
    left: 72%;
    color: rgb(22, 22, 22);
    font-size: larger;

}
.heading
{
    margin:10px !important;
    color: white;
  
}
#p1
{
    padding-left: 30px;
}
#p2
{
    padding-left: 200px;
}
.h-secondary
{
    font-size: 2.8rem;
    padding:12px;
    color:#FFC300
}
.h-pr{
    font-size: 2.8rem;
    padding:12px;
    color: white;

}
.head{
    color: azure;
    font-size: 2.4rem;
}
.err
{
    color: red ! important ;
    font-style: italic;
}

#cart
{
    position:relative;
    left:40vw;
    
}